root=true
[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=4
trim_trailing_whitespace=false

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.yml,*.yaml}]
indent_style=space
indent_size=2

[{*.js, *.ts, *.tsx}]
indent_style=space
indent_size=2
max_line_length=100

[*.es6]
indent_style=space
indent_size=2
max_line_length=100

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.scss,*.css}]
indent_style=space
indent_size=2
max_line_length=100
